body{
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;  
    justify-content: center;
    margin: 0;
    height:100vh;
}
.whole .container{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 0px black;
    background: white;
    width: 350px;
    height: 500px;
    padding: 25px;
    
}
.whole .container .img{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.whole .container .img img{
    width: 100%;
    display: block;
    border-radius: 15px;
}
.Learning h2, .publish h3, .button a, .para p, .name p {
    margin: 10px 0;
}
.greg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
}
.learn-bg {
    display: inline-block;
    background-color: #F7CE4E; /* Replace with desired color */
    border-radius: 6px;
    padding: 0px 15px;
    margin-top: 25px;   
}
.Learning h2{
    font-size: 18px;
    font-weight: bolder;
}
.publish h3, .button a, .para p, .name p {
    margin: 10px 0;
}
.publish h3{
    font-size: 1em;
    font-weight: 650;
}
.button a{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: large;
    font-weight: bolder;
    transition: none 0.3s;
}
.button:hover a{
    color: hsl(47, 88%, 63%);
}
.para p{
    line-height: 23px;
}
.author{
    display: flex;
    align-items: center;
}
.author .greg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.author p{
    margin-top: 35px;
    font-weight: bolder;
}

@media (max-width:375px){
    .whole .container{
        width: 240px;
    }
}
@media (min-width:375px) and (max-width:1440px){
    .whole .container{
        width: 350px;
    }
}